<article class="post">
    <div class="title">
        <a href="/post/{{id}}" class="links">{{title}}</a>
        <p>{{content}}</p>
        < id="comment-subtitle">
            created by <br>{{user.username}} </br> on <br>{{formatDate created_at}}</br>
        </p>
    </div>
</article>